@charset "utf-8";
*{font-family:arial,"微软雅黑";}
.minBody{background-color:#ecf0f3;overflow: hidden;}
a:hover{ text-decoration:none;}
a:focus{-moz-outline-style:none; border:0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,p,blockquote,th,td{margin:0; padding:0;}
header,footer,article,aside,section,nav,menu,hgroup,details,dialog,figure,figcaption{display:block}
ol,li,ul,dl,dt,dd{list-style:none;}
.clearfix {
  zoom: 1;
}
.clearfix::after {
  display: block;
  clear:both;
  height:0;
  content: "";
  visibility: hidden;
  overflow:hidden;
}
